  <div class="form-group">
    <div class="col-md-2">
      <%= f.hidden_field :title, readonly: true, class: 'form-control' %>
      <%= f.hidden_field :author, readonly: true, class: 'form-control' %>
      <%= f.hidden_field :publisher, readonly: true, class: 'form-control' %>
      <%= f.hidden_field :image,  class: 'form-control' %>
    </div>
  </div>

  <!-- TODO チェックボックスを横に並べる。 -->
  <%= f.collection_check_boxes(:tag_ids, @user.tags.order(id: :asc), :id, :name, include_hidden: false) do |b| %>
    <%= b.label(class: "checkbox inline") {b.check_box + b.text}%>
  <% end %>
