<% provide(:title, 'タグの作成') %>
<h1>タグの作成</h1>

<%= form_for @tag , html: {class: 'form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :user_id, value: current_user %>

  <div class="form-group">
    <div class="col-md-2">
      <%= f.label :name %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-md-2">
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

