<% provide(:title, "本の検索結果") %>
<h1>本の検索結果</h1>

<div class="row">
  <ul class="users">
    <% @searches.each do |search| %>
      <li>
        <div class="col-md-4">
          <img src=<%= search.image %> />
        </div>
        <div class="col-md-8">
          <%= link_to "タグの登録", new_book_path(search, search: search_to_hash(search)) %>
          <p>タイトル：<%= search.title %></p>
          <p>著者：<%= search.author %></p>
          <p>出版社：<%= search.publisher %></p>
        </div>
      </li>
      <% end %>
  </ul>
</div>
